<main class="bg-background min-h-screen font-sans selection:bg-blue-500 selection:text-white">
      @if (store.isLoading()) {
        <div class="flex min-h-screen items-center justify-center text-white font-mono">
          Loading system architecture...
        </div>
      } @else if (store.data(); as profile) {

        <intro [data]="profile.intro" />

        <hero [name]="profile.title" [cards]="profile.heroCards" />

        <skills-bento [skills]="profile.skills" />

        <about [data]="profile.about" />

        <contact [data]="profile.contact" />
      }
</main>
