<section
  trackBehavior="intro_viewed"
  class="md:py-12 flex flex-col gap-4 items-center justify-center text-white relative overflow-hidden"
>
  <div class="max-w-6xl w-full mx-auto px-4">
    <div class="z-10 text-center max-w-3xl mx-auto flex flex-col items-center">
      <h1 class="text-4xl sm:text-5xl md:text-6xl lg:text-8xl font-bold mb-6 tracking-tight whitespace-pre">
        @for (letter of nameLetters(); track $index) {
          <span [class.text-primary]="$index % 2 === 0" [class.text-white]="$index % 2 !== 0">{{ letter }}</span>
        }
      </h1>

      <p class="text-gray-400 text-sm sm:text-base md:text-lg leading-relaxed mb-4 xs:mb-12 max-w-2xl text-center">
        {{ safeData().description }}
      </p>

      <div class="flex items-center justify-center gap-4 md:mt-8 sm:gap-6 md:gap-8">
        @for (social of safeData().socials; track social.platform) {
          <a
            [href]="social.url"
            target="_blank"
            rel="noopener noreferrer"
            class="link-color-primary-hover transition-all duration-700"
          >
            <svg class="w-8 h-8 sm:w-9 sm:h-9 md:w-10 md:h-10 text-current" fill="currentColor" viewBox="0 0 24 24">
              <path [attr.d]="social.iconPath"></path>
            </svg>
          </a>
        }
      </div>
    </div>
  </div>
</section>
